
<div id="contentBx">

  <div id="boatBx">

    <div id="boatName">
    <%= link_to 'Show', @job %> 
    </div>

    <div id="boatName">
      <%= render 'form', job: @job %>
    </div>

  </div>

</div>
